---
import Layout from '../layouts/Layout.astro';
import MissionsSection from '../components/MissionsSection.astro';
---

<Layout title="SpaceX" viewTransition={false}>
	<main class="font-D-DIN-Regular font-bold">
		<MissionsSection link="https://www.starlink.com/" subtitle="UPCOMING LAUNCH" title="STARLINK MISSION" btnText="WATCH">
			<img slot="background" class="home object-cover absolute -z-10 h-full" src='/public/images/Launch_Page_Starlink.jpg' />
		</MissionsSection>
		<MissionsSection link="https://www.youtube.com/watch?v=XzYonTLnRY0" subtitle="RECENT LAUNCH" title="TELKOMSAT MERAH PUTIH 2 MISSION">
			<img slot="background" class="object-cover absolute -z-10 h-full" src='/public/images/Merah_Putih_2.jpg' />
		</MissionsSection>
		<MissionsSection link="https://www.youtube.com/watch?v=CvdgoX-3WOM" title="INTUITIVE MACHINES IM-1 MISSION">
			<img slot="background" class="object-cover absolute -z-10 h-full" src='/public/images/IM_1.jpg' />
		</MissionsSection>
		<MissionsSection link="https://www.youtube.com/watch?v=kdpbgyWwVsY" title="USSF-124 MISSION">
			<img slot="background" class="object-cover absolute -z-10 h-full" src='/public/images/USSF_124.jpg' />
		</MissionsSection>
		<MissionsSection link="https://www.youtube.com/watch?v=C3iHAgwIYtI" btnText="LEARN MORE" title="STARSHIP'S SECOND FLIGHT TEST">
			<video autoplay muted slot="background" class="object-cover w-full absolute -z-10 h-full" src='public/images/OTF_2_Launch.mp4' />
		</MissionsSection>
	</main>
	<footer class="w-full h-20 bg-black text-white grid place-content-center">
		<span class="text-gray-300 text-sm">PROYECT CLONE OF <a href="https://www.spacex.com/" class="font-bold text-white">SPACEX OFICIAL PAGE</a></span>
	</footer>
</Layout>

<script></script>
