---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth" transition:animate="initial">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-ico" href="/public/static/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black">
		<main class="font-D-DIN-Regular font-bold">
			<Header />
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: D-DIN-Medium;
		src: url(static/fonts/D-DIN.woff2) format("woff2"),url(fonts/D-DIN.woff) format("woff"),url(fonts/D-DIN.otf) format("opentype");
		font-style: normal;
		font-weight: 400;
		font-display: block
	}

	@font-face {
		font-family: D-DIN-Light;
		src: url(static/fonts/D-DIN.woff2) format("woff2"),url(fonts/D-DIN.woff) format("woff"),url(fonts/D-DIN.otf) format("opentype");
		font-style: normal;
		font-weight: 400;
		font-display: block
	}

	@font-face {
		font-family: D-DIN-Bold;
		src: url(static/fonts/D-DIN-Bold.woff2) format("woff2"),url(fonts/D-DIN-Bold.woff) format("woff"),url(fonts/D-DIN-Bold.otf) format("opentype");
		font-style: normal;
		font-weight: 400;
		font-display: block
	}

	@font-face {
		font-family: D-DIN-Regular;
		src: url(static/fonts/D-DIN.woff2) format("woff2"),url(fonts/D-DIN.woff) format("woff"),url(fonts/D-DIN.otf) format("opentype");
		font-style: normal;
		font-weight: 400;
		font-display: block
	}

	*::selection {
		background-color: white;
		color: black;
	}
</style>
